
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }
    .container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
        text-align: center;
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
    .form-footer {
        text-align: center;
    }
    .form-footer a {
        color: #007bff;
        text-decoration: none;
    }
    .form-footer a:hover {
        text-decoration: underline;
    }

	 .centered-content {
		text-align: center;
	}

	.centered-content a img {
		color: white; /* Image color */
		
	}

	.centered-content b {
		color: black; /* Text color */
		font-family: 'Times New Roman', Times, serif; /* Font family */
	}

